@model ResumeManagement.Models.ViewModels.EmployeeViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h2>Create New Employee</h2>

            </div>
            <div class="card-body">


                @using (Html.BeginForm("Create", "Employees", FormMethod.Post, new { enctype = "multipart/form-data" }))

                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="form-group row">
                                @Html.LabelFor(e => e.EmployeeName, htmlAttributes: new { @class = "control-label col-3" })
                                <div class="col-9 mb-2">
                                    @Html.EditorFor(e => e.EmployeeName, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(e => e.EmployeeName, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(e => e.JoinDate, "Join Date", htmlAttributes: new { @class = "control-label col-3" })
                                <div class="col-9 mb-2">
                                    @Html.EditorFor(e => e.JoinDate, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(e => e.JoinDate, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(e => e.salary, htmlAttributes: new { @class = "control-label col-3" })
                                <div class="col-9 mb-2">
                                    @Html.EditorFor(e => e.salary, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                @Html.ValidationMessageFor(e => e.salary, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group row">
                                @Html.LabelFor(e => e.isActive, htmlAttributes: new { @class = "control-label col-3" })
                                <div class="col-9 mb-2">
                                    <div class="checkbox">
                                        @Html.EditorFor(e => e.isActive)
                                        @Html.ValidationMessageFor(e => e.isActive, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                            </div>
                            <div class="form-group row">
                                <div class="col-6">
                                    <label for="upImage" class="labelUpImage">Upload Image</label>
                                    <input type="file" id="upImage" class="form-control" name="PicturePath" onchange="readUrl(this)" />
                                </div>
                                <div class="col-6">
                                    <img src="~/images/no-img.jpg" id="imageFile" style="width:100px; height:100px;" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <h2>Select Qualification</h2>
                            <div class="d-flex justify-content-end mb-2">
                                <a href="#" id="btnPlus" class="btn btn-warning">Add Qualification</a>
                            </div>
                            <div id="qualificationContainer">


                                @Html.Action("AddNewQualification", "Employees")

                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end offset-10">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                }
            </div>
            <div class="card-footer">

            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.7.1.js"></script>

<script>
    function readUrl(input) {
        if (input.files && input.files[0]) {
            var rdr = new FileReader();
            rdr.onload = function (e) {
                $('#imageFile').attr('src', e.target.result);
            };
            rdr.readAsDataURL(input.files[0]);
        }
    }

    $(document).ready(function () {
        

        $('#btnPlus').click(function (e) {
            e.preventDefault();
            var qualificationContainer = $('#qualificationContainer');
            $.ajax({
                url: "/Employees/AddNewQualification",
                type: "GET",
                success: function (data) {
                    qualificationContainer.append(data);
                }
            });
        });

        $(document).on('click', "#btnDeleteQualification", function (e) {
            e.preventDefault();
            $(this).parent().parent().remove();
        });
    });
</script>
